---
layout: default
title: Publications
sitemap:
    priority: 0.9
    changefreq: monthly
---

<style>
  span.year {
      font-weight: 800;
      margin-left: -4em;
      color: rgb(50, 105, 168);
  }
  a.titlep {
      color: black;
  }
</style>


{% assign collection = site.pubs | sort: "date" | group_by: "type" %}

<h4>Contents</h4>
<ul>
	{% for group in collection %}
	{% if group.name == 'article' %}
	<li><a href="#papers">Papers <span class="badge">{{ group.items | size }}</span></a></li>
	{% elsif group.name == 'workshop' %}
	<li><a href="#eabstracts">Extended abstracts <span class="badge">{{ group.items | size }}</span></a></li>
	{% elsif group.name == 'unpublished' %}
	<li><a href="#unpublished">Unpublished manuscripts <span class="badge">{{ group.items | size }}</span></a></li>
        {% elsif group.name == 'bookreview' %}
	<li><a href="#bookreview">Book reviews <span class="badge">{{ group.items | size }}</span</a></li>
	{% elsif group.name == 'thesis' %}
	<li><a href="#dissertations">PhD dissertation</a></li>
	{% endif %}
</ul>



{% for group in collection %}
    {% if group.name == 'draft' %}

    <a name='drafts' class='titlep'><h4> Drafts <span class="badge">{{ group.items | size }}</span></h4></a>

    <ul class="list-group">

      {% assign pubs = group.items | sort: "date" | reverse %}
  
      {% for publication in pubs %}

	    
        <li class="list-group-item">
          <strong>{{ publication.title }}</strong><br />
          {{ publication.authors | join: ', ' }}<br />
            {% if publication.journal %} {{ publication.journal }}, {% endif %}
            {% if publication.note %} {{ publication.note }}. {% endif %}
            {% if publication.volume %} volume {{ publication.volume }}. {% endif %}
            {% if publication.pages %} Pages {{ publication.pages }}. {% endif %}            
            {% if publication.resource %}
              {% if publication.resource.bibtex %}
	        [<a href="assets/bibtex/{{ publication.resource.bibtex }}.txt">Bibtex</a>]
              {% endif %}
              {% if publication.resource.slides %}
	        [<a href="{{ publication.resource.slides }}">Slides</a>]
              {% endif %} 
		{% if publication.resource.code %}
	        [<a href="{{ publication.resource.code }}">Accompanying code</a>]
              {% endif %} 
	      {% if publication.resource.type == 'url' %}
	        <a href="{{ publication.resource.value }}">{{ publication.resource.value }}</a>
              {% elsif publication.resource.type == 'pdf-report' %}
	        [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
                [<a href="{{ publication.resource.report-url }}">PDF ({{ publication.resource.report-note }})</a>]
              {% elsif publication.resource.type == 'arxiv' %}
	        [<a href="https://arxiv.org/abs/{{ publication.resource.doi }}">arXiv</a>]
              {% elsif publication.resource.type == 'doi-report' %}
                <a href="http://dx.doi.org/{{ publication.resource.value }}">doi: {{ publication.resource.value }}</a>
                [<a href="{{ publication.resource.report-url }}">PDF ({{ publication.resource.report-note }})</a>]
              {% elsif publication.resource.type == 'doi-pdf' %}
                <a href="http://dx.doi.org/{{ publication.resource.value }}">doi: {{ publication.resource.value }}</a>
                [<a href="{{ publication.resource.pdf-url }}">PDF</a>]                
	      {% elsif publication.resource.type == 'doi' %}
	        <a href="http://dx.doi.org/{{ publication.resource.value }}">doi: {{ publication.resource.value }}</a>                
              {% elsif publication.resource.type == 'pdf' %}
	        [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
              {% endif %}
            {% endif %}
        </li>
      {% endfor %}
    {% endif %}
    </ul>
{% endfor %}
 
    
{% for group in collection %}
    {% if group.name == 'article' %}

    <a name='papers' class='titlep'><h4>Papers <span class="badge">{{ group.items | size }}</span></h4></a>

    <ul class="list-group">

      {% assign pubs = group.items | sort: "date" | reverse %}
      {% assign year = 0 %}
  
      {% for publication in pubs %}

	 {% assign currentyear = publication.year | default: publication.date | date: "%Y" %}

        {% unless (currentyear == year) %}
                <span class='year'>{{ currentyear }}</span>
        {% endunless %}
        {% assign year = currentyear %}

        <li class="list-group-item">
          {{ publication.authors | join: ', ' }}.
          <strong>{{ publication.title }}</strong>.
          {% if group.name == 'article' %}
            {% if publication.journal %} {{ publication.journal }}, {% endif %}
            {% if publication.volume %} volume {{ publication.volume }}. {% endif %}
            {% if publication.number %} number {{ publication.number }}. {% endif %}
            {% if publication.pages %} Pages {{ publication.pages }}. {% endif %}
            {% if publication.year %} {{ publication.year }}.
	          {% endif %}          
          {% endif %}
          {% if publication.publisher %}{{ publication.publisher }}.{% endif %}
          {% if publication.note %}<i>{{ publication.note }}.</i>{% endif %}
          {% if publication.resource %}
            {% if publication.resource.bibtex %}
	            [<a href="assets/bibtex/{{ publication.resource.bibtex }}.txt">Bibtex</a>]
            {% endif %}
            {% if publication.resource.slides %}
	            [<a href="{{ publication.resource.slides }}">Slides</a>]
            {% endif %} 
		
		{% if publication.resource.code %}
	        [<a href="{{ publication.resource.code }}">Accompanying code</a>]
              {% endif %} 
	          {% if publication.resource.type == 'doi' %}
	            <a href="http://dx.doi.org/{{ publication.resource.value }}">doi: {{ publication.resource.value }}</a>
            {% elsif publication.resource.type == 'doi-report' %}
              <a href="http://dx.doi.org/{{ publication.resource.value }}">doi: {{ publication.resource.value }}</a>
              [<a href="{{ publication.resource.report-url }}">PDF ({{ publication.resource.report-note }})</a>]
            {% elsif publication.resource.type == 'doi-pdf' %}
               <a href="http://dx.doi.org/{{ publication.resource.value }}">doi: {{ publication.resource.value }}</a>
               [<a href="{{ publication.resource.pdf-url }}">PDF</a>]                               
	          {% elsif publication.resource.type == 'url' %}
	            <a href="{{ publication.resource.value }}">{{ publication.resource.value }}</a>
            {% elsif publication.resource.type == 'pdf-report' %}
	            [<a href="{{ publication.resource.pdf-url }}">PDF</a>] [<a href="{{ publication.resource.report-url }}">PDF ({{ publication.resource.report-note }})</a>]
            {% elsif publication.resource.type == 'pdf' %}
	            [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
            {% else %}
              [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
            {% endif %}
            {% if publication.resource.appendix %}
	            [<a href="{{ publication.resource.appendix }}">Appendix</a>]
            {% endif %} 
          {% endif %}
        </li>
        {% endfor %}        
    </ul>
    {% endif %}
{% endfor %}
    
{% for group in collection %}
    {% if group.name == 'workshop' %}

    <a name='eabstract' class='titlep'><h4>Peer-reviewed Extended abstracts <span class="badge">{{ group.items | size }}</span></h4></a>
      <ul class="list-group">

      {% assign pubs = group.items | sort: "date" | reverse %}        
      {% assign year = 0 %}
  
      {% for publication in pubs %}

        {% assign currentyear = publication.year | default: publication.date | date: "%Y" %}

        {% unless (currentyear == year) %}
                <span class='year'>{{ currentyear }}</span>
        {% endunless %}
        {% assign year = currentyear %}

        <li class="list-group-item">
          {{ publication.authors | join: ', ' }}.
          <strong>{{ publication.title }}</strong>.          
          {% if publication.publisher %}{{ publication.publisher }}.{% endif %}
          {% if publication.note %}<i>{{ publication.note }}.</i>{% endif %}
          {% if publication.year %} {{ publication.year }}. {% endif %}          
          {% if publication.resource %}
            {% if publication.resource.bibtex %}
              [<a href="assets/bibtex/{{ publication.resource.bibtex }}.txt">Bibtex</a>]
            {% endif %}
            {% if publication.resource.slides %}
	      [<a href="{{ publication.resource.slides }}">Slides</a>]
            {% endif %} 
		{% if publication.resource.code %}
	        [<a href="{{ publication.resource.code }}">Accompanying code</a>]
              {% endif %} 
	    {% if publication.resource.type == 'doi' %}
	      <a href="http://dx.doi.org/{{ publication.resource.value }}">doi: {{ publication.resource.value }}</a>
	    {% elsif publication.resource.type == 'url' %}
	      <a href="{{ publication.resource.value }}">{{ publication.resource.value }}</a>
            {% elsif publication.resource.type == 'pdf-report' %}
	      [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
              [<a href="{{ publication.resource.report-url }}">PDF ({{ publication.resource.report-note }})</a>]
            {% elsif publication.resource.type == 'pdf' %}
	      [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
{% endfor %}

{% for group in collection %}
    {% if group.name == 'poster' %}

      <h4> Posters <span class="badge">{{ group.items | size }}</span></h4>
    <ul class="list-group">

      {% assign pubs = group.items | sort: "year" | reverse %}
      {% for publication in pubs %}

        <li class="list-group-item">
          {{ publication.authors | join: ', ' }}.
          <strong>{{ publication.title }}</strong>.          
          {% if publication.publisher %}{{ publication.publisher }}.{% endif %}
          {% if publication.note %}<i>{{ publication.note }}.</i>{% endif %}
          {% if publication.year %}{{ publication.year }}.{% endif %}
          {% if publication.resource %}
            {% if publication.resource.bibtex %}
              [<a href="assets/bibtex/{{ publication.resource.bibtex }}.txt">Bibtex</a>]
            {% endif %}
            {% if publication.resource.slides %}
	      [<a href="{{ publication.resource.slides }}">Slides</a>]
            {% endif %} 
	    {% if publication.resource.type == 'doi' %}
	      <a href="http://dx.doi.org/{{ publication.resource.value }}">doi: {{ publication.resource.value }}</a>
	    {% elsif publication.resource.type == 'url' %}
	      <a href="{{ publication.resource.value }}">{{ publication.resource.value }}</a>
            {% elsif publication.resource.type == 'pdf-report' %}
	      [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
              [<a href="{{ publication.resource.report-url }}">PDF ({{ publication.resource.report-note }})</a>]
            {% elsif publication.resource.type == 'pdf' %}
	      [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
   {% endif %}
    {% endfor %}

{% for group in collection %}
    {% if group.name == 'unpublished' %}

      <a name='unpublished' class='titlep'><h4> Unpublished manuscripts <span class="badge">{{ group.items | size }}</span></h4></a>
    <ul class="list-group">

      {% assign pubs = group.items | sort: "year" | reverse %}
      {% for publication in pubs %}

        <li class="list-group-item">
          {{ publication.authors | join: ', ' }}.
          <strong>{{ publication.title }}</strong>.          
          {% if publication.publisher %}{{ publication.publisher }}.{% endif %}
          {% if publication.note %}<i>{{ publication.note }}.</i>{% endif %}
          {% if publication.year %}<i>{{ publication.year }}.</i>{% endif %}
          {% if publication.resource %}
            {% if publication.resource.bibtex %}
	      [<a href="assets/bibtex/{{ publication.resource.bibtex }}.txt">Bibtex</a>]
            {% endif %}
            {% if publication.resource.slides %}
              [<a href="{{ publication.resource.slides }}">Slides</a>]
            {% endif %} 
	   {% if publication.resource.code %}
	        [<a href="{{ publication.resource.code }}">Accompanying code</a>]
              {% endif %} 
	    {% if publication.resource.type == 'doi' %}
	      <a href="http://dx.doi.org/{{ publication.resource.value }}">doi: {{ publication.resource.value }}</a>
	    {% elsif publication.resource.type == 'url' %}
	      <a href="{{ publication.resource.value }}">{{ publication.resource.value }}</a>
            {% elsif publication.resource.type == 'pdf-report' %}
	      [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
              [<a href="{{ publication.resource.report-url }}">PDF ({{ publication.resource.report-note }})</a>]
            {% elsif publication.resource.type == 'pdf' %}
	      [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
        {% else %}
        [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
   {% endif %}
{% endfor %}    

{% for group in collection %}
    {% if group.name == 'bookreview' %}

      <a name='bookreview' class='titlep'><h4>Book reviews<span class="badge">{{ group.items | size }}</span></h4></a>
    <ul class="list-group">

      {% assign pubs = group.items | sort: "year" | reverse %}
      {% for publication in pubs %}

        <li class="list-group-item">
          {{ publication.authors | join: ', ' }}.
          <strong>{{ publication.title }}</strong>.          
          {% if publication.venue %}{{ publication.venue }}.{% endif %}
          {% if publication.note %}<i>{{ publication.note }}.</i>{% endif %}
          {% if publication.year %}<i>{{ publication.year }}.</i>{% endif %}
          {% if publication.resource %}
            {% if publication.resource.bibtex %}
	      [<a href="assets/bibtex/{{ publication.resource.bibtex }}.txt">Bibtex</a>]
            {% endif %}
            {% if publication.resource.slides %}
              [<a href="{{ publication.resource.slides }}">Slides</a>]
            {% endif %} 
	    {% if publication.resource.pdf-url %}
	      [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
      {% endif %}
      {% endif %}
        </li>
      {% endfor %}
    </ul>
   {% endif %}
{% endfor %}    
    

{% for group in collection %}
    {% if group.name == 'thesis' %}

      <a name='dissertations' class='titlep'><h4>PhD Dissertation<span class="badge">{{ group.items | size }}</span></h4></a>
    <ul class="list-group">

      {% assign pubs = group.items | sort: "year" | reverse %}
      {% for publication in pubs %}

        <li class="list-group-item">
          {{ publication.authors | join: ', ' }}.
          <strong>{{ publication.title }}</strong>.          
          {% if publication.venue %}{{ publication.venue }}.{% endif %}
          {% if publication.note %}<i>{{ publication.note }}.</i>{% endif %}
          {% if publication.year %}<i>{{ publication.year }}.</i>{% endif %}
          {% if publication.resource %}
            {% if publication.resource.bibtex %}
	            [<a href="assets/bibtex/{{ publication.resource.bibtex }}.txt">Bibtex</a>]
            {% endif %}
            {% if publication.resource.slides %}
              [<a href="{{ publication.resource.slides }}">Slides</a>]
            {% endif %} 
	    {% if publication.resource.pdf-url %}
	      [<a href="{{ publication.resource.pdf-url }}">PDF</a>]
      {% endif %}
      {% endif %}
        </li>
      {% endfor %}
    </ul>
   {% endif %}
{% endfor %}    
    
