---
layout: default
title: Talks
sitemap:
    priority: 0.9
    changefreq: monthly
---

<style>
  span.year {
      font-weight: 800;
      margin-left: -4em;
  }
</style>

{% assign collection = site.talks | sort: "pos" | reverse %}

<ul class="list-group">
  {% assign year = 0 %}
  {% for talk in collection %}
  {% if talk.year %}
    {% unless (talk.year == year) %}
        <span class='year'>{{ talk.year }}</span>
     {% endunless %}
     {% assign year = talk.year %}
  {% endif %}
        <li class="list-group-item">
          <strong>{{ talk.title }}</strong>.
          {% if talk.event-url %}<a href="{{ talk.event-url}}">{% endif %}
	  {% if talk.venue %} {{ talk.venue }}. {% endif %}
          {% if talk.event-url %}</a>{% endif %}

	  {% if talk.date %} {{ talk.date | date: "%d %B %Y" }}.{% else %}
          {% if talk.year %} {{ talk.year }}. {% endif %}
		{% endif %}
          {% if talk.slides %}
	  [<a href="{{ talk.slides }}">Slides</a>]
          {% endif %}
          {% if talk.slides-pdf %}
	  [<a href="{{ talk.slides-pdf }}">PDF Slides</a>]
          {% endif %}
          {% if talk.video %}
	  [<a href="{{ talk.video }}">Video</a>]
          {% endif %}
        </li>
{% endfor %}
</ul>
